
header {
    background-color: #D3DDE9;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
header img {
    width: 160px;
    padding-left: 30px;
}
 
.linha {
    background-color: #405077;
    width: 100%;
    height: 30px;
}
 
.botao {
    border-radius: 7px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin: auto 0;
}
 
.fundo {
    padding: 20px;
    padding-bottom: 20px;
    background-color: #5378A4
}
 
.menu {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: right;
    gap: 26px;
    padding-right: 40px;
}
 
.espacamento {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
h1{
    background-color:#405077;
    color:white;
    text-align:center;
    margin-top: -10px;

}
.pesquisa{
    border-radius: 30px;
    background-color:#5378A4;
    width: 400px;
    height: 400px;
    background-position: 50px center;
    color: white;
    font-size: 25px;
    display: block;
    margin: 0 auto;
    text-align: center;
}
.button{
    color: #405077;
}
.fundo_rodape {
    background-color: #405077;
    width: 100%;
    height: 315px;
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
}
 
.img_rod {
    width: 50%;
    position: absolute;
    bottom: 0;
}                                                                                                                                                                                  
footer {
    background-color: rgba(83, 120, 164, 0.76);
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    letter-spacing: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-bottom: 0;
    color: white;
}